@import './variables';
@import './theme.scss';

/* application (non-theme) styles */
body {
    margin: 0;
    padding: 0;
}
.dashboard {
    padding: 20px 30px;
}
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    h1 {
        font-size: 1.6em;
        margin-bottom: 5px;
    }
    h2 {
        margin-top: 0;
        font-size: .9em;
    }

    .theme-switcher {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: .8em;
        font-weight: 500;
        width: 123px;
    }

    input[type=range] {
        max-width: 35px;
    }

    input[type=range] {
        -webkit-appearance: none;
        padding-left: 3px;
        padding-right: 3px;
        height: 23px;
        border-radius: 20px;
    }
      
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height:18px;
        width: 18px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 375px) {

}