@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import './variables';
@import './theme.dark.scss';
@import './theme.light.scss';

/* theme -- global styles (non-dark/-light) */
body {
    font-family: Inter, sans-serif;
}
.theme {
    height: 100vh;
}

.top-part {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    display: block;
}

.content {
    position: relative;
    margin: 20px 30px;
}
.change-up {
    color: $color-lime-green;
}
.change-down {
    color: $color-bright-red;
}