@import './variables';

/* dark theme */
.theme-dark {
    background-color: $neutral-bg-dark-very-dark-blue;
    color: $neutral-text-dark-white;

    .top-part {
        background-color: $neutral-bg-top-pattern-dark-very-dark-blue;
    }

    header {
        h2 {
            color: $neutral-text-dark-desaturated-blue;
        }

        .theme-switcher {
            label {
                color: $neutral-text-dark-white;
            }
        }

        .theme-switcher:hover {
            label {
                color: $neutral-text-dark-white;
            }

            input[type=range]::-webkit-slider-thumb {
                background-color: $neutral-card-bg-dark-saturated-blue;
            }
        }

        input[type=range] {
            background: $toggle-dark;
        }

        input[type=range]::-webkit-slider-thumb {
            background-color: $neutral-bg-top-pattern-dark-very-dark-blue;
        }
    }

    .social-cards {
        .social-card {
            .user-name {
                color: $neutral-text-dark-desaturated-blue;
            }
            .followers .label {
                color: $neutral-text-dark-desaturated-blue;
            }
        }

        & .facebook {
            background: $color-facebook-bg-dark;
            background-clip: padding-box, border-box;
            background-origin: padding-box, border-box;
        }

        & .instagram {
            background: $color-instagram-bg-dark;
            background-clip: padding-box, border-box;
            background-origin: padding-box, border-box;
        }

        & .twitter {
            background: $color-twitter-bg-dark;
            background-clip: padding-box, border-box;
            background-origin: padding-box, border-box;
        }

        & .youtube {
            background: $color-youtube-bg-dark;
            background-clip: padding-box, border-box;
            background-origin: padding-box, border-box;
        }

        & .facebook:hover {
            background: $color-facebook-bg-dark-hover; 
            background-clip: padding-box, border-box;
            background-origin: padding-box, border-box;
        }

        & .instagram:hover {
            background: $color-instagram-bg-dark-hover;
            background-clip: padding-box, border-box;
            background-origin: padding-box, border-box;
        }

        & .twitter:hover {
            background: $color-twitter-bg-dark-hover;
            background-clip: padding-box, border-box;
            background-origin: padding-box, border-box;
        }

        & .youtube:hover {
            background: $color-youtube-bg-dark-hover;
            background-clip: padding-box, border-box;
            background-origin: padding-box, border-box;
        }
    }
}