@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import './variables';
@import './theme.dark.scss';
@import './theme.light.scss';

/* theme -- global styles (non-dark/-light) */
body {
    font-family: Inter, sans-serif;
}
.theme {
    min-height: 100vh;
    height: 100%;
    margin: auto;
    padding-bottom: 40px;
}

.top-part {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    display: block;
}

.content {
    position: relative;
    margin: auto;
    max-width: $max-content-width-destop;
    overflow: auto;
}
.change-up {
    color: $color-lime-green;
}
.change-down {
    color: $color-bright-red;
}

@media screen and (max-width: $max-content-width-destop) {
    .content {
        margin-left: 40px;
        margin-right: 40px;
        max-width: 1000px;
    }
}

@media screen and (max-width: $max-content-width-mobile) {
    .content {
        margin-left: 30px;
        margin-right: 30px;

        header {
            flex-direction: column;
            .theme-switcher {
                border-top: 1px solid $neutral-text-dark-desaturated-blue;
                width: 100%;
                margin: 1em 0;
                padding-top: 1em;
                label {
                    font-weight: 600;
                }
                input[type=range] {
                    max-width: 45px;
                }
            }
        }
        .cards {
            grid-template-columns: 1fr;
        }
    }
}